/* ---- Theme Variables ---- */
/* Font */
/* Colors */
/* Dimensions */
/* Shadow */
/* Transitions */
/* Element radius */
/*---- General - Theme Styles ----*/
html {
  font-size: 16px; }

html, body {
  min-height: 100%;
  height: 100%; }

body {
  font-family: Arimo, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2D334F;
  background-color: #F4F8F9; }

p {
  line-height: 1.3em; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arimo, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700; }

table {
  width: 100%; }

a, .btn {
  transition: all 0.2s linear; }
  a:hover, .btn:hover {
    text-decoration: none; }
  a:focus, .btn:focus {
    outline: none;
    text-decoration: none; }

.notopmargin {
  margin-top: 0 !important; }

.nobottommargin {
  margin-bottom: 0 !important; }

.noborder {
  border: none !important; }

.notopborder {
  border-top: none !important; }

.grey {
  color: rgba(114, 132, 147, 0.85); }

.circle {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px; }
  .circle [class^="icon-"] {
    line-height: 34px; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 32;
  background-color: rgba(45, 51, 79, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-out; }

.animatedin {
  opacity: 0;
  transform: translateY(18px);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  backface-visibility: hidden; }
  .animatedin.in {
    opacity: 1;
    transform: translateY(0); }
  .animatedin.stop {
    transform: none; }

.twocols {
  display: flex;
  width: 100%; }
  .twocols > * {
    flex: 1 1 auto; }
  .twocols.twocols--5 > * {
    flex: 1 0 auto; }
  .twocols.twocols--5 .twocols__left {
    width: calc(100% - 250px); }
  .twocols.twocols--5 .twocols__right {
    width: 250px;
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .twocols .twocols--padded {
    padding: 20px; }
  .twocols.twocols--withpic .twocols__right {
    padding-left: 15px; }

/* Modals */
.modal .modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: none; }
  .modal .modal-header .modal-title {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(45, 51, 79, 0.5); }
.modal .close {
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 5px;
  top: 5px;
  text-shadow: none;
  outline: none;
  opacity: 1;
  opacity: .7;
  transition: all 0.2s linear; }
  .modal .close:hover {
    opacity: 1; }
.modal .modal-body {
  font-size: .9em; }
  .modal .modal-body.modal-body--nopadding {
    padding: 0; }
.modal .modal__logo {
  margin-bottom: 15px; }
.modal .modal__inner {
  max-width: 340px;
  margin: 0 auto; }
.modal .modal-footer {
  text-align: center; }
  .modal .modal-footer .btn {
    min-width: 120px; }
.modal h3 {
  font-size: 17px; }
.modal .modal__intro {
  font-size: .9em;
  color: rgba(45, 51, 79, 0.65);
  margin: 30px 0;
  text-align: center;
  line-height: 1.4em; }

/* Alerts */
.alert {
  padding: 20px 35px;
  font-size: 14px; }
  .alert .alert__picto {
    font-size: 18px; }
  .alert h5 {
    margin: 10px 0;
    margin-top: 0;
    font-size: 16px; }
  .alert p {
    color: #2D334F;
    margin: 4px 0; }
  .alert.alert--top {
    margin-bottom: 10px; }
  .alert.alert--withcbox {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -10px; }
  .alert.alert-info {
    background-color: #F2FBFD;
    border: 1px solid rgba(103, 183, 254, 0.2); }
    .alert.alert-info .alert__picto {
      opacity: .35; }
  .alert.alert-danger {
    background-color: #FDE9E7;
    color: #C64122; }
  .alert.alert-success {
    background-color: #F3F9E8;
    color: #85B200; }
    .alert.alert-success p {
      color: #85B200; }
  .alert.alert--largeicon {
    position: relative;
    text-align: left; }
    .alert.alert--largeicon .twocols .twocols__right {
      padding-left: 30px; }
    .alert.alert--largeicon .alert__picto {
      font-size: 3em; }

/* Dropdown Menu */
.dropdown-menu {
  padding: 0;
  margin: 0;
  border: 1px solid #dde9ec;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.125);
  font-size: .8rem; }
  .dropdown-menu > li > a {
    padding: 12px 28px;
    font-weight: 700; }
    .dropdown-menu > li > a:hover {
      background-color: rgba(244, 248, 249, 0.65); }
  .dropdown-menu > li:first-child > a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .dropdown-menu > li:last-child > a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
  .dropdown-menu > li.divider {
    margin: 0; }
  .dropdown-menu.dropdown-menu--withicons > li > a {
    padding-right: 60px;
    position: relative; }
    .dropdown-menu.dropdown-menu--withicons > li > a [class^="icon-"] {
      position: absolute;
      right: 26px;
      top: 50%;
      transform: translateY(-50%);
      opacity: .35; }
  .dropdown-menu.dropdown-menu--animated {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform-origin: top center;
    transform: scale(0.94) translateY(20px); }
  .dropdown-menu.dropdown-menu--checkable > li > a {
    position: relative;
    overflow: hidden; }
    .dropdown-menu.dropdown-menu--checkable > li > a:before {
      content: "\e910";
      font-family: "icomoon";
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 10px;
      transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
      opacity: 0; }
  .dropdown-menu.dropdown-menu--checkable > li.active > a {
    background-color: #fff;
    color: #67B7FE;
    padding-left: 35px; }
    .dropdown-menu.dropdown-menu--checkable > li.active > a:before {
      left: 15px;
      opacity: 1; }
  .dropdown-menu.dropdown-menu--stages {
    min-width: 230px; }

.open > .dropdown-menu:not(.animated) {
  display: block; }

.open > .dropdown-menu--animated {
  transition: .2s ease-out;
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateY(0); }

.badge {
  font-weight: 400;
  border-radius: 3px;
  padding: 4px 8px; }
  .badge.badge-success {
    background-color: rgba(133, 178, 0, 0.12);
    color: #85B200; }
  .badge.badge-danger {
    background-color: rgba(242, 71, 56, 0.12);
    color: #F24738; }

.tooltip.top .tooltip-inner {
  padding: 10px 14px;
  background-color: rgba(0, 0, 0, 0.65); }

.tooltip.top .tooltip-arrow {
  border-top-color: rgba(0, 0, 0, 0.65); }

/* Buttons */
.btn {
  transition: all 0.2s linear;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 1em; }
  .btn:hover {
    text-decoration: none;
    border: none; }
  .btn:focus {
    outline: none; }
  .btn.btn--primary, .btn.btn--primary:focus {
    background-color: #67B7FE;
    color: #fff; }
    .btn.btn--primary:hover, .btn.btn--primary:focus:hover {
      background-color: #49a9fe;
      color: #fff; }
  .btn.btn--secondary, .btn.btn--secondary:focus {
    background-color: #9195A6;
    color: #fff; }
    .btn.btn--secondary:hover, .btn.btn--secondary:focus:hover {
      background-color: #828699;
      color: #fff; }
  .btn.btn--outline {
    box-shadow: inset 0 0 0 1px rgba(103, 183, 254, 0.6);
    color: #67B7FE;
    background-color: #fff; }
    .btn.btn--outline:hover {
      background-color: #67B7FE;
      color: #fff; }
  .btn.btn--wide {
    min-width: 120px; }
  .btn.btn--wider {
    min-width: 150px; }
  .btn.btn--small {
    font-size: 12px;
    padding: 8px 13px; }
  .btn.btn--load {
    position: relative; }
    .btn.btn--load.btn--loading {
      padding-left: 35px; }
      .btn.btn--load.btn--loading:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 15px;
        animation: pulseanim 1s infinite; }
  .btn.disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.btn-text.btn--disabled,
.btn-text.btn--disabled:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  color: rgba(0, 0, 0, 0.25); }

.btn.btn--disabled,
.btn.btn--disabled:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.cblock__headright .badge-nonfree {
  padding: 9px 12px; }

.btn-text {
  color: #67B7FE;
  font-size: 14px;
  transition: all 0.2s linear; }
  .btn-text:hover {
    color: rgba(0, 0, 0, 0.8); }
  .btn-text.btn-text--small {
    font-size: .875em; }

.btn--withicon [class^="icon-"] {
  margin-right: 6px;
  position: relative;
  top: 1px; }

.btn--withlasticon [class^="icon-"] {
  margin-left: 8px;
  position: relative;
  max-height: 33px;
  top: 1px;
  margin-top: -2px;
  margin-bottom: -2px; }

/*---- Main Layout ----*/
.crailui {
  position: relative;
  height: 100%; }

.crailui__sidebar {
  width: 200px;
  background-color: #2D334F;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  color: #fff; }
  .crailui__sidebar .crailui__sidehead {
    padding: 15px 25px; }
  .crailui__sidebar h1 {
    margin: 0;
    margin-bottom: .3rem;
    font-size: 1.3rem; }
  .crailui__sidebar p {
    font-size: .8em;
    color: rgba(255, 255, 255, 0.45); }

.crailui__content {
  position: relative;
  min-height: 100%;
  margin-left: 200px;
  overflow-y: auto;
  margin-bottom: -60px; }
  .crailui__content .crailui__heder {
    padding: 14px 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(45, 51, 79, 0.12); }
    .crailui__content .crailui__heder h2 {
      margin: 0;
      font-size: 1.2rem; }
      .crailui__content .crailui__heder h2 + p {
        margin-top: .3rem; }
    .crailui__content .crailui__heder p {
      margin: 0;
      font-size: .9em;
      color: rgba(45, 51, 79, 0.65); }
      .crailui__content .crailui__heder p + p {
        margin-top: .2rem; }
  .crailui__content .crailui__body {
    padding: 20px; }

.crailui__footer {
  margin-left: 200px;
  max-height: 50px; }
  .crailui__footer p {
    font-size: 13px;
    padding: 20px;
    margin: 0;
    color: rgba(45, 51, 79, 0.65); }

.panels {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px; }
  .panels > .panel {
    width: calc(50% - 16px);
    margin: 8px; }

.panel {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(45, 51, 79, 0.12);
  padding: 20px;
  min-height: 350px; }

/*---- Header and navbar ----*/
.nav-sidebar > li > a {
  position: relative;
  padding: 12px 25px;
  padding-right: 45px;
  padding-left: 60px;
  font-size: .9em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer; }
  .nav-sidebar > li > a:focus {
    background-color: transparent; }
  .nav-sidebar > li > a:hover {
    background-color: transparent;
    color: #fff;
    box-shadow: inset 2px 0 rgba(103, 183, 254, 0.45); }
    .nav-sidebar > li > a:hover:after {
      color: rgba(255, 255, 255, 0.8); }
  .nav-sidebar > li > a:after {
    content: "\e688";
    font-family: "Pe-icon-7-stroke";
    transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    right: 25px;
    top: 12px;
    color: rgba(255, 255, 255, 0.4); }
  .nav-sidebar > li > a [class^="icon-"] {
    position: absolute;
    color: rgba(103, 183, 254, 0.8);
    font-size: 24px;
    margin-top: -1px;
    left: 25px;
    trantion: all 0.2s linear; }
.nav-sidebar > li.active > a,
.nav-sidebar > li.active > a:focus {
  background-color: transparent;
  color: #67B7FE;
  box-shadow: inset 2px 0 rgba(103, 183, 254, 0.75); }
  .nav-sidebar > li.active > a:after,
  .nav-sidebar > li.active > a:focus:after {
    transform: rotate(180deg); }
  .nav-sidebar > li.active > a [class^="icon-"],
  .nav-sidebar > li.active > a:focus [class^="icon-"] {
    color: #67B7FE; }
.nav-sidebar > li .nav-sidebar__sub {
  box-shadow: inset 2px 0 rgba(103, 183, 254, 0.75); }
  .nav-sidebar > li .nav-sidebar__sub > li > a {
    padding: 8px 25px;
    font-size: .9em;
    color: rgba(255, 255, 255, 0.85); }
    .nav-sidebar > li .nav-sidebar__sub > li > a:focus {
      background-color: transparent; }
    .nav-sidebar > li .nav-sidebar__sub > li > a:hover {
      background-color: rgba(0, 0, 0, 0.12);
      color: #fff; }

.btn-mobile-menu {
  display: inline-block;
  padding: 5px 12px;
  padding-bottom: 0;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  text-align: center;
  font-size: 10px; }
  .btn-mobile-menu:hover {
    color: #fff; }
  .btn-mobile-menu p {
    margin: 0; }
  .btn-mobile-menu span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 4px auto;
    background-color: #fff; }
    .btn-mobile-menu span.btn-mobile-menu__line2 {
      width: 24px; }

.mobilebar {
  background-color: #2D334F;
  color: #fff;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  display: none;
  text-align: center; }
  .mobilebar .navbar-toggle {
    display: inline-block;
    margin: 0;
    padding: 13px 10px; }
    .mobilebar .navbar-toggle .icon-bar {
      background-color: #fff;
      margin-left: auto;
      margin-right: auto; }
    .mobilebar .navbar-toggle p {
      margin: 0;
      margin-top: 2px;
      font-size: 9px; }
  .mobilebar .mobilebar__nav {
    position: absolute;
    left: 0; }
  .mobilebar .mobilebar__logo {
    text-align: center;
    padding: 15px 0;
    padding-bottom: 0; }
    .mobilebar .mobilebar__logo h1 {
      font-size: .9rem;
      margin: 0; }

/* Tables */
.table {
  font-size: .8em;
  margin: 0; }
  .table > thead > tr th {
    font-size: .9em;
    color: rgba(45, 79, 124, 0.7);
    padding: 8px 18px;
    border-bottom: none; }
  .table > tbody > tr:hover .table__inlineactions {
    opacity: 1;
    visibility: visible; }
  .table > tbody > tr > td {
    padding: 12px 18px;
    line-height: 1.2em; }
  .table > tbody > tr.row-published .circle {
    background-color: rgba(103, 183, 254, 0.2);
    color: #67B7FE;
    box-shadow: none; }
  .table .table__highlight {
    font-weight: 700; }
  .table .table__actions {
    text-align: right;
    position: relative; }
  .table.table--highlight > tbody > tr {
    transition: all 0.2s linear; }
    .table.table--highlight > tbody > tr:hover {
      background-color: rgba(244, 248, 249, 0.5); }
      .table.table--highlight > tbody > tr:hover .table__drop {
        opacity: 1;
        visibility: visible; }
  .table.table--centered > tbody > tr > td {
    vertical-align: middle; }
  .table.table--largertype {
    font-size: .9em; }

/* Forms */
.form .form-control {
  transition: all 0.2s linear;
  font-size: 14px;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #BBC9D9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 38px;
  color: #2D334F; }
  .form .form-control:focus {
    border-color: #A3B6CB;
    box-shadow: none; }
  .form .form-control.form-control--center {
    text-align: center; }
  .form .form-control.form-area {
    height: auto;
    min-height: 100px; }
  .form .form-control.form--code {
    max-height: 100px;
    overflow-y: auto; }
  .form .form-control.form--log {
    min-height: 250px;
    overflow-y: auto; }
.form .form-group > label {
  font-weight: normal;
  color: #B1B7BC;
  color: #67B7FE;
  margin-bottom: 2px;
  font-size: 13px; }
.form .form-group .form__error {
  display: none;
  font-size: 13px;
  padding: 3px 0;
  color: #F24738; }
.form .form-group.form-group--tight {
  margin-bottom: 8px !important; }
.form .form-group.form-group--tighter {
  margin-bottom: 4px !important; }
.form .form-group.form-group--nomargin {
  margin-bottom: 0; }
.form .form-group.form-group--sidebutton .btn-copytoclipboard {
  float: right;
  margin-top: 7px; }
.form .form-group.form-group--additional p {
  font-size: 14px;
  color: rgba(45, 51, 79, 0.65); }
.form .form-group.has-error .form-control {
  border-color: rgba(242, 71, 56, 0.45); }
.form .form-group.has-error .form__error {
  display: block; }
.form .form-group.form-group-lg .form-control {
  height: 42px;
  font-size: 16px; }
.form .form--withbutton {
  position: relative; }
  .form .form--withbutton .form-control {
    padding-right: 70px; }
  .form .form--withbutton .btn {
    padding: 7px 12px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%); }
.form .help-block {
  font-size: 13px;
  color: rgba(45, 51, 79, 0.45); }
.form .checkbox--nice {
  padding-left: 0; }
  .form .checkbox--nice label {
    padding-left: 0; }
.form .checkbox--inline {
  display: inline-block; }
.form .form__inline > * {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px; }
  .form .form__inline > * + .checkbox {
    margin-top: 10px; }
.form.form--loose .form-group {
  margin-bottom: 20px; }

.form--prefix {
  position: relative; }
  .form--prefix .form-control {
    padding-left: 35px !important; }
  .form--prefix .form__picto {
    position: absolute;
    left: 10px;
    top: 50%;
    opacity: .35;
    transform: translateY(-50%);
    font-size: .85em; }
  .form--prefix.form--prefixstrong .form__picto {
    background-color: rgba(45, 51, 79, 0.05);
    color: rgba(45, 51, 79, 0.55);
    width: 34px;
    height: 100%;
    line-height: 34px;
    font-size: 16px;
    text-align: center;
    opacity: 1;
    top: 0;
    left: 0;
    transform: none;
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.07); }
  .form--prefix.form--prefixstrong .form-control {
    padding-left: 44px !important; }

.form--sufix {
  position: relative; }
  .form--sufix .form-control {
    padding-right: 45px !important; }
  .form--sufix .form__picto {
    position: absolute;
    right: 12px;
    top: 50%;
    opacity: .35;
    transform: translateY(-50%);
    font-size: .85em; }

@font-face {
  font-family: 'icomoon';
  src: url("../webfonts/icomoon.eot?uh0ftm");
  src: url("../webfonts/icomoon.eot?uh0ftm#iefix") format("embedded-opentype"), url("../webfonts/icomoon.ttf?uh0ftm") format("truetype"), url("../webfonts/icomoon.woff?uh0ftm") format("woff"), url("../webfonts/icomoon.svg?uh0ftm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chart-advanced:before {
  content: "\e900"; }

.icon-chart-area:before {
  content: "\e901"; }

.icon-chart-bubble:before {
  content: "\e902"; }

.icon-chart-group:before {
  content: "\e903"; }

.icon-chart-line:before {
  content: "\e904"; }

.icon-chart-radial:before {
  content: "\e905"; }

@media only screen and (max-width: 768px) {
  body {
    padding-top: 45px; }

  .mobilebar {
    display: block; }

  .crailui__content {
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 50ms;
    margin-left: 0; }

  .crailui__sidebar {
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    left: -200px;
    z-index: 50; }

  .crailui__footer {
    margin-left: 0;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 50ms; }

  .showmenu .overlay {
    opacity: 1;
    visibility: visible; }
  .showmenu .crailui__content {
    transform: translateX(140px); }
  .showmenu .crailui__footer {
    transform: translateX(140px); }
  .showmenu .crailui__sidebar {
    left: 0; }

  .panels {
    margin: 0; }
    .panels > .panel {
      flex-direction: column;
      width: 100%;
      margin: 0;
      margin-bottom: 10px; } }

/*# sourceMappingURL=style-ui.css.map */
